body {
    background-image: url("assets/images/pexels-alesia-kozik-6772076.jpg");
    /* Adjust the background image properties as needed */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
}


input,
button {
    padding: 7px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(243, 10, 10);
    color: black;
    transition: box-shadow 0.3s ease;
    width: 350px;

}

select {
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
    background-color: black;
    color: red;
    width: 300px;
}

h1,
h2 {
    color: rgb(243, 10, 10);
    font-size: 40px;
    font-weight: 500;
    background-color: black;
}


#form_login {
    padding-top: 10%;
}


button:hover {
    cursor: pointer;
    box-shadow: 0 20px 50px rgba(10, 13, 211, 0.2);
}

a {
    font-size: 20px;
    font-weight: 800;
    color: rgb(243, 10, 10);
}

td {
    font-size: 18px;
    font-weight: bold;
}


::placeholder {
    color: red;
    font-size: 20px;
    font-weight: 500;
}

#username {
    ::placeholder {
        color: black;
    }

}