<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/common.css">
    <title>Rugant | About</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: red;">
        <a class="navbar-brand" href="/about">RUGANT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="login">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5" style="background-color: red;">
        <div class="row">
            <div class="col">
                <div>
                    <p class="card-text text-wrap"
                        style="font-size: 22px; font-weight: bold; color: black; padding: 40px;">
                        Rugant is a basic stock screener application.The application leverages real-time data
                        and presents the most relevant results. It is a powerful tool designed to help investors and
                        traders filter
                        through a vast array of financial instruments to find potential investment opportunities that
                        meet specific
                        criteria.With its user-friendly interface and customizable filters, it empowers users to make
                        informed
                        decisions, saving them time and effort in their quest for profitable investments in the dynamic
                        world of the
                        stock market.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div style="margin: 4%;">
        <a class="btn btn-primary" href="/signup" role="button"
            style="margin: 2%; background-color: red; color: black; font-size: 23px; font-weight: bolder; padding: 10px;">New
            User?</a>
        <a class="btn btn-primary" href="/login" role="button"
            style="background-color: red; color: black; font-size: 23px; font-weight: bolder; padding: 10px;">LOGIN</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</body>

</html>