<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/common.css">
    <title>Rugant | Dashboard</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: red;">
        <a class="navbar-brand" href="about">RUGANT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="watchlist">WatchList</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile">Profile</a>
                </li>
            </ul>
        </div>
        <div>
            <a class="nav-link" href="logout" style="color: black;">Logout</a>
        </div>
    </nav>

    <h2>Stock Data</h2>
    <div>
        <form action="/searchview" method="GET">
            <% if (given.length> 0) { %>
                <input type="text" placeholder="Enter Stock Ticker Symbol" name="symbol" value="<%= given %>"
                    style="width: 400px;">
                <% } else { %>
                    <input type="text" placeholder="Enter Stock Ticker Symbol" name="symbol" style="width: 400px;">
                    <% } %>
                        <select name="select_time" id="select_time">
                            <option value="" disabled selected>Choose Timeframe</option>
                            <option value="Intraday">Intraday</option>
                            <option value="Daily">Daily</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Monthly">Monthly</option>
                        </select>
                        <button type="submit"
                            style="padding-left: 2%; padding-right: 2%; font-size: 25px; font-weight: 700;">Search</button>
        </form>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>

<!-- tempDataStore.forEach((item)=> -->