<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/common.css">
    <title>Rugant | Dashboard</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">RUGANT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="positions">Positions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <h2>WatchList</h2>
    <div>
        <form action="/dashboard/watchlist/add" method="GET">
            <input type="text" placeholder="Enter Stock" name="symbol">
            <button type="submit" style="padding-left: 2%; padding-right: 2%;">ADD</button>
        </form>
        <% if (watchlist.length> 0) { %>
            <ul>
                <% watchlist.forEach((item)=> { %>
                    <li>
                        <%= item.stock_symbol %>
                            <p id="information"></p>
                            <button type="submit" style="padding-left: 2%; padding-right: 2%;">BUY</button>
                    </li>
                    <% }); %>
            </ul>
            <% } else { %>
                <p></p>
                <% } %>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        const informationElement = document.getElementById('information');

        function fetchInformation() {
            fetch('/api/information')
                .then(response => response.json())
                .then(data => {
                    informationElement.textContent = data.information;
                })
                .catch(error => {
                    console.error('Error fetching information:', error);
                });
        }

        // Fetch information initially and then every 5 seconds
        fetchInformation();
        setInterval(fetchInformation, 2000);
    </script>

</body>

</html>