<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/common.css">
    <title>Rugant | Login</title>
    <link rel="icon" href="/assets/images/icons8-batman-16.ico" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(196, 19, 19);">
        <a class="navbar-brand" href="about">RUGANT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <form action="/login" id="form_login" method="POST"
                    style="background-color: rgb(196, 19, 19); border-radius: 20px; border-radius: 20px; border-color: black; border-width: 5px; border-style: solid;">
                    <ul>
                        <input type="text" name="username" id="username" required="true" placeholder="Username" style="color:
                        red; background-color: black; font-weight: 1000;">
                        <input type="password" name="password" id="password" required="true" placeholder="Password"
                            minlength="8" style="color:
                        red; background-color: black; font-weight: 1000;">
                    </ul>
                    <button style="width: 120px; color: red; background-color:black; font-weight:
                    700;">Login</button>
                </form>
                <br>
                <a href="/signup" style="font-size: larger; font-weight: 800; background-color: black;">NEW
                    USER?</a>
            </div>
            <div class="col-md-7"
                style="background-color: rgb(196, 19, 19); max-width: 30%; margin-left: 300px; border-radius: 20px; border-color: black; border-width: 5px; border-style: solid;">
                <%= success %>
                    <div class="row">
                        <div class="col">
                            <div>
                                <p class="card-text text-wrap"
                                    style="font-size: 20px; font-weight: bold; color: black; padding: 30px;">
                                    Rugant is a basic stock screener application.The application leverages real-time
                                    data
                                    and presents the most relevant results. It is a powerful tool designed to help
                                    investors
                                    and
                                    traders filter
                                    through a vast array of financial instruments to find potential investment
                                    opportunities
                                    that
                                    meet specific
                                    criteria.With its user-friendly interface and customizable filters, it empowers
                                    users to
                                    make
                                    informed
                                    decisions, saving them time and effort in their quest for profitable investments in
                                    the
                                    dynamic
                                    world of the
                                    stock market.
                                </p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>