<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/common.css">
    <title>Rugant | Signup</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: red;">
        <a class="navbar-brand" href="#">RUGANT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <h2>SIGNUP</h2>
    <div style="background-color: red;">
        <form action="/signup" id="form_signup" method="POST">
            <input type="text" name="user[first_name]" id="firstname_signup" required="true" placeholder="First Name"
                style="background-color: black; margin-top: 20px;">
            <br>
            <input type="text" name="user[last_name]" id="lastname_signup" required="true" placeholder="Last Name"
                style="background-color: black;">
            <br>
            <input type="text" name="user[username]" id="username_signup" required="true" placeholder="Username"
                style="background-color: black;">
            <br>
            <input type="password" name="user[password]" id="password_signup" required="true" placeholder="Password"
                style="background-color: black;">
            <br>
            <input type="email" name="user[email]" id="email_signup" placeholder="Email" required="true"
                style="background-color: black;">
            <br>
            <input type="number" name="user[mobile_number]" id="mobile_number_signup" placeholder="Mobile Number"
                style="background-color: black;" required="true">
            <br>
            <button type="submit" id="signup_button" style="background-color: black; color: red;">SIGNUP</button>
        </form>
    </div>
    <br>
    <br>

    <a href="/login">Already Have an Account?</a>
</body>

</html>